<!DOCTYPE html>
      <html xmlns:th="http://www.thymeleaf.org">
      <head>
      <title>Customer Form</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="/js/script.js" defer></script>
</head>
<body>
<div class="container">
  <h1>Customer Form</h1>
  <form th:action="@{/saveCustomer}" th:object="${customer}" method="post">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" th:field="*{firstName}" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" th:field="*{lastName}" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" th:field="*{email}" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="/" class="btn btn-secondary">Cancel</a>
  </form>
</div>
</body>
</html>
</title>
</head>
<body>
